* {
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  color: white;
  padding: 5px 10px;
  background: black;
  border-radius: 2px;
}
body {
  max-width: 900px;
  margin: 20px auto;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}
h1,
h2 {
  color: #444;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
}

span {
  padding-bottom: 2px;
  border-bottom: 2px solid red;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
}

button {
  border: 1px solid red;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: red;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: red;
  color: white;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-image {
  border-radius: 8px;
  width: 200px;
  height: 250px;
  object-fit: cover;
  margin-right: 20px;
}

.intro {
  flex: 1;
}

.intro h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.intro h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #666;
}

.stats {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.stat {
  text-align: left;
}

.stat h3 {
  font-size: 25px;
  color: red;
}

.stat p {
  font-size: 13px;
  color: #666;
}

.core-other {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section {
  flex: 1;
}

.section ul {
  list-style: none;
  margin-top: 8px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px; /* Giới hạn chiều rộng danh sách */
}

.section ul li {
  max-width: 120px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.experience-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.experience-header,
.experience-entries {
  flex: 1 1 calc(50% - 20px);
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-period {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1b1a1a;
}

.experience-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(67, 66, 66);
}

.experience-role {
  margin-bottom: 10px;
  color: #1a1a1a;
}

.experience-description {
  margin-bottom: 10px;
}

.experience-list {
  list-style: none;
  padding-left: 20px;
}

.experience-list li {
  margin-bottom: 8px;
  position: relative;
}

.experience-list li:before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 10px;
  margin-left: -10px;
}
